body {
    background-color: #f5f5dd;
}

.square1 {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 10px;
    background-color: rgba(0, 0, 0, 1);
}

.square2 {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.square3 {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.square4 {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}